# Hugo
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# OS
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.swo
*~

# IDE
.vscode/
.idea/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Hugo executable
hugo.exe
